name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: lts/*

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4

      - id: setup-bun
        name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Configure npm
        run: |
          cat > .npmrc << EOF
          registry=https://registry.npmjs.org/
          //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
          EOF
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - id: install-deps
        name: Install dependencies
        run: bun install --frozen-lockfile

      - id: build
        name: Run build
        run: bun run build

      - id: get-version
        name: Set npm version
        run: npm version $(git describe --tags --abbrev=0) --no-git-tag-version

      - run: npm publish --provenance --access public

  docs:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v4

      - id: setup-bun
        name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - id: install-deps
        name: Install dependencies
        run: bun install --frozen-lockfile

      - id: build-docs
        name: Run build docs
        run: bun run build-docs

      - id: deploy
        name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs